PRJ_CONFIG = {
    'path' : '/home/YYYY/projects/python/clubg/',
    'log_path' : '/home/YYYY/projects/python/clubg/logs/',
    'request_url' : 'https://www.bandaimall.co.kr/premium/index.do',
    'base_url' : 'https://www.bandaimall.co.kr',
    'email_id' : 'XXXX@gmail.com',
    'email_pw' : 'XXXX',
    'to_email_id' : 'YYYY@gmail.com'
}